body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.container {
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
}

#quoteElement {
  font-style: italic;
}

#favorite-text {
  font-style: italic;
}

.quoteAutor {
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(85, 85, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.close-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: rgb(80, 80, 80);
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 50%;
}

.close-btn:hover {
  color: black;
  background-color: rgb(178, 178, 178);
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(52, 52, 158);
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #fff;
  color: black;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px;
  width: 25%;
}

.heart-icon {
  color: red;
  display: none;
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
  vertical-align: middle;
  transition: transform 0.25s ease;
}

.heart-icon:hover {
  transform: scale(1.2);
}
