body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.container {
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
}
#quoteElement {
  font-style: italic;
}

.btn {
  padding: 10px 20px;
  background-color: rgb(85, 85, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(52, 52, 158);
}

#quoteAutor {
  font-weight: bold;
}
